<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav"

  >
    <mat-toolbar class="colors">
   </mat-toolbar >
    <mat-nav-list>
      <a mat-list routerLink="#"> </a>

      <a mat-list-item routerLink="/inicio" 
        ><i class="material-icons">&#xE88A;</i> Inicio</a
      >

      <a mat-list-item routerLink="/reserva"
        ><span class="material-icons"> event_seat </span> Reservas</a
      >

      <a mat-list-item routerLink="/servicios"
        ><span class="material-icons"> room_service </span>Servicios</a
      >

      <a mat-list-item routerLink="/habitaciones"
        ><span class="material-icons"> bed </span>Habitación</a
      >

      <a mat-list-item routerLink="/empleados">
        <span class="material-icons"> person </span>Empleado</a
      >

      <a mat-list-item routerLink="/cargos"
        ><span class="material-icons"> work_outline </span>Cargo</a
      >

      <a mat-list-item routerLink="/departamentos"
        ><span class="material-icons"> assignment </span>Departamento</a
      >

      <a mat-list-item routerLink="/users"
        ><span class="material-icons"> account_circle </span>Usuarios</a
      >

      <a mat-list-item routerLink="/reportes"
        ><span class="material-icons"> description </span> Reportes</a
      >

    </mat-nav-list>
    <mat-toolbar class="colorico"> </mat-toolbar>
    <mat-toolbar class="colorico"> </mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="colors">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
      >
  <span class="example-spacer"></span>
      </button>
      <span class="fill-remaining-space"> </span>
      <span >   
  <a mat-button routerLink="/login" 
><span class="material-icons">
logout
</span>Salir</a>

</span>

    </mat-toolbar>
    <mat-card-content>
<div class="largo">
    <form (ngSubmit)="onSubmit()" [formGroup]="registroForm">
              <div class="card-body">
            <!--Espacio del botón de atrás-->
            <mat-card-header>
                <button
                  type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  routerLink="/servicios"
                >
                 <span><span class="material-icons">arrow_back </span></span>
                </button>
                <h2 class="card-title">
                    Datos del servicio
                </h2>
            </mat-card-header> 

            <div class="form-row">

              <!--Nombre del servicio-->
              <div class="form-group col-md-5">
                <p>
                  <mat-form-field
                    appearance="standard"
                    size="75"
                    style="width: 400px; height: 50px"
                  >
                    <mat-label>Nombre</mat-label>
                    <input
                      matInput
                      placeholder=""
                      type="text"
                      class="form-control"
                      formControlName="nombre_servicio"
                      [(ngModel)]="servicio.nombre_servicio"
                    required/>
                        <mat-hint>
                            <span *ngIf="this.registroForm.get('nombre_servicio')?.hasError?.('required')">
                               (El campo no puede quedar vacío)
                             </span>
                            <span *ngIf="this.registroForm.get('nombre_servicio')?.hasError?.('minlength')">
                                (Debe tener como mínimo 3 caracteres)
                             </span>
                         </mat-hint>
                     </mat-form-field>
                  
                </p>
              </div>
              <!--Capacidad del servicio-->
              <div class="form-group col-md-5">
                <p>
                  <mat-form-field
                    appearance="standard"
                    size="75"
                    style="width: 400px; height: 50px"
                  >
                    <mat-label>Capacidad</mat-label>
                    <input
                      matInput
                      placeholder=""
                      type="number"
                      class="form-control"
                      formControlName="capacidad"
                      [(ngModel)]="servicio.capacidad"
                    required/>
                        <mat-hint>
                            <span *ngIf="this.registroForm.get('capacidad')?.hasError?.('required')">
                               (El campo no puede quedar vacío)
                             </span>
                            <span *ngIf="this.registroForm.get('capacidad')?.hasError?.('minlength')">
                                (Debe tener como mínimo 3 caracteres)
                             </span>
                         </mat-hint>
                     </mat-form-field>
                </p>
              </div>
            </div>

            <div class="form-row">

              <!--Precio-->
              <div class="form-group col-md-5">
                <p>
                  <mat-form-field
                    appearance="standard"
                    floatLabel="always"
                    size="75"
                    style="width: 400px; height: 98px"
                  >
                    <mat-label>Precio sesión</mat-label>
                    <input
                      matInput
                      type="number"
                      class="form-control"
                      formControlName="precio"
                      [(ngModel)]="servicio.precio"
                      required
                    />
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix></span>
                  </mat-form-field>
                </p>
              </div>
              <!--Descripcion-->
              <div class="form-group col-md-5">
              <p>
                  <mat-form-field
                    appearance="standard"
                    size="75"
                    style="width: 400px; height: 50px"
                  >
                    <mat-label>Descripción</mat-label>
                    <input
                      matInput
                      placeholder=""
                      type="text"
                      class="form-control"
                      formControlName="descripcion"
                      [(ngModel)]="servicio.descripcion"
                    required/>
                        <mat-hint>
                            <span *ngIf="this.registroForm.get('descripcion')?.hasError?.('required')">
                               (El campo no puede quedar vacío)
                             </span>
                            <span *ngIf="this.registroForm.get('descripcion')?.hasError?.('minlength')">
                                (Debe tener como mínimo 3 caracteres)
                             </span>
                         </mat-hint>
                     </mat-form-field>
                </p>
            </div>
            </div>

           <div class="form-group col-md-2">
            <!--botons-->
            <button
              class="btn btn-info"
              (click)="create()"
              *ngIf="!servicio.id; else elseBlock"
            >
              Registrar
            </button>
            <ng-template #elseBlock>
              <button class="btn btn-info" (click)="update()">Actualizar</button>
            </ng-template>
          </div>
          </div>
    </form>
</div>
    </mat-card-content>
  </mat-sidenav-content>
  
</mat-sidenav-container>

