<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav"

  >
    <mat-toolbar class="colors">
   </mat-toolbar >
    <mat-nav-list>
      <a mat-list routerLink="#"> </a>

      <a mat-list-item routerLink="/inicio" 
        ><i class="material-icons">&#xE88A;</i> Inicio</a
      >

      <a mat-list-item routerLink="/reserva"
        ><span class="material-icons"> event_seat </span> Reservas</a
      >

      <a mat-list-item routerLink="/servicios"
        ><span class="material-icons"> room_service </span>Servicios</a
      >

      <a mat-list-item routerLink="/habitaciones"
        ><span class="material-icons"> bed </span>Habitación</a
      >

      <a mat-list-item routerLink="/empleados">
        <span class="material-icons"> person </span>Empleado</a
      >

      <a mat-list-item routerLink="/cargos"
        ><span class="material-icons"> work_outline </span>Cargo</a
      >

      <a mat-list-item routerLink="/departamentos"
        ><span class="material-icons"> assignment </span>Departamento</a
      >

      <a mat-list-item routerLink="/users"
        ><span class="material-icons"> account_circle </span>Usuarios</a
      >

      <a mat-list-item routerLink="/reportes"
        ><span class="material-icons"> description </span> Reportes</a
      >

    </mat-nav-list>
    <mat-toolbar class="colorico"> </mat-toolbar>
    <mat-toolbar class="colorico"> </mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="colors">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
      >
  <span class="example-spacer"></span>
      </button>
      <span class="fill-remaining-space"> </span>
      <span >   
  <a mat-button href="/login" 
><span class="material-icons">
logout
</span>Salir</a>

</span>

    </mat-toolbar>
    <mat-card>
    <mat-card-content>
<div class="largo">
  <h1>HABITACIONES</h1>
  <button class="btn btn-info" type="button" routerLink="/habitaciones/form">
    Registrar Habitación
  </button>
  <br />
  <br />
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input
          type="text"
          name="filterHabitacion"
          class="form-control"
          placeholder="Buscar"
          [(ngModel)]="filterHabitacion"
        />
      </div>
    </div>
  </div>
<div class="row">
  <div class = "col">

 <table class="table table-striped" >
    <thead class="thead-dark" >
      <tr>
        <th scope="col">N° de Habitacion</th>
        <th scope="col">Tipo de habitacion</th>
        <th scope="col">Precio</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let habitacion of habitaciones | busHabitacion: filterHabitacion
        "
      >
        <th scope="row">{{ habitacion.numero_habitacion }}</th>
        <td>{{ habitacion.tipo_habitacion }}</td>
        <td>{{ habitacion.precio }}</td>

        <td *ngIf="habitacion.estado_habitacion; else elseBlock">Activo</td>
        <ng-template #elseBlock>
          <td>Inactivo</td>
        </ng-template>
        <td>
           <div class="example-button-row">
           <div class="example-flex-container">
          <div class="example-button-container">
          <button mat-mini-fab class="btnEditar" aria-label="Example icon button with a edit icon"[routerLink]="['/habitaciones/form', habitacion.id]"
            routerLinkActive="router-link-active" style="margin-right:10px">
            <mat-icon>edit</mat-icon>
          </button>
          </div>
          <div class="example-button-container">
          <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" (click)="delete(habitacion)">
            <mat-icon>delete</mat-icon>
          </button>
          </div>
          </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
    </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
  
</mat-sidenav-container>

