<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <mat-toolbar class="colors"> </mat-toolbar>
    <mat-nav-list>
      <a mat-list routerLink="#"> </a>

      <a mat-list-item routerLink="/inicio"
        ><i class="material-icons">&#xE88A;</i> Inicio</a
      >

      <a mat-list-item routerLink="/reserva"
        ><span class="material-icons"> event_seat </span> Reservas</a
      >

      <a mat-list-item routerLink="/servicios"
        ><span class="material-icons"> room_service </span>Servicios</a
      >

      <a mat-list-item routerLink="/habitaciones"
        ><span class="material-icons"> bed </span>Habitación</a
      >

      <a mat-list-item routerLink="/empleados">
        <span class="material-icons"> person </span>Empleado</a
      >

      <a mat-list-item routerLink="/cargos"
        ><span class="material-icons"> work_outline </span>Cargo</a
      >

      <a mat-list-item routerLink="/departamentos"
        ><span class="material-icons"> assignment </span>Departamento</a
      >

      <a mat-list-item routerLink="/users"
        ><span class="material-icons"> account_circle </span>Usuarios</a
      >

      <a mat-list-item routerLink="/reportes"
        ><span class="material-icons"> description </span> Reportes</a
      >
    </mat-nav-list>
    <mat-toolbar class="colorico"> </mat-toolbar>
    <mat-toolbar class="colorico"> </mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="colors">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button>
        <span class="example-spacer"></span>
      </button>
      <span class="fill-remaining-space"> </span>
      <span>
        <a mat-button href="/login"
          ><span class="material-icons"> logout </span>Salir</a
        >
      </span>
    </mat-toolbar>
    <mat-card-content>
      <div class="largo">
        <h1>REPORTES</h1>

        <div>
          <button
            class="btn col col-lg-4 btn-danger btn-block ml-4"
            (click)="createPdfEmpleado()"
          >
            Download PDF EMPLEADO
          </button>
        </div>
        <div>
          <button
            class="btn col col-lg-4 btn-danger btn-block ml-4"
            (click)="createPdfHabitaciones()"
          >
            Download PDF HABITACIONES
          </button>
        </div>
        <div>
          <button
            class="btn col col-lg-4 btn-danger btn-block ml-4"
            (click)="createPdfReservas()"
          >
            Download PDF RESERVAS
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-sidenav-content>
</mat-sidenav-container>
