<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="colors">
   </mat-toolbar >
    <mat-nav-list>
      <a mat-list routerLink="#"> </a>

      <a mat-list-item routerLink="/inicio" 
        ><i class="material-icons">&#xE88A;</i> Inicio</a
      >

      <a mat-list-item routerLink="#"
        ><span class="material-icons"> event_seat </span> Reservas</a
      >

      <a mat-list-item routerLink="/servicios"
        ><span class="material-icons"> room_service </span>Servicios</a
      >

      <a mat-list-item routerLink="#"
        ><span class="material-icons"> attach_money </span> Facturación</a
      >

      <a mat-list-item routerLink="/habitaciones"
        ><span class="material-icons"> bed </span>Habitación</a
      >

      <a mat-list-item routerLink="/empleados">
        <span class="material-icons"> person </span>Empleado</a
      >

      <a mat-list-item routerLink="/cargos"
        ><span class="material-icons"> work_outline </span>Cargo</a
      >

      <a mat-list-item routerLink="/departamentos"
        ><span class="material-icons"> assignment </span>Departamento</a
      >

      <a mat-list-item routerLink="/users"
        ><span class="material-icons"> account_circle </span>Usuarios</a
      >

    </mat-nav-list>
    <mat-toolbar class="colorico"> </mat-toolbar>
    <mat-toolbar class="colorico"> </mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="colors">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
  <span><span class="material-icons">
menu
</span></span>
  <span class="example-spacer"></span>
      </button>
      <span class="fill-remaining-space"> </span>
      <span >   
  <a mat-button href="/" 
  target="_blank"><span class="material-icons">
logout
</span>Salir</a>

</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
