sidenav-container {
  height: 100%;
}

.sidenav {
  width: 210px;
  height: 100%;
}

.sidenav .mat-toolbar {
  width: 209px;
  height: 64.1px;
}

mat-nav-list, .colorico {
  background: white;
}
.example-spacer, .fill-remaining-space{
  flex: 1 1 auto;
}

.colors, .active:focus {
  background-color: #3f778f   ;
  text-align: center;
}